@model IEnumerable<EquipmentDTO>
@{
	string strTitle = "Наше оборудование";
	ViewBag.Title = strTitle;
}
@await Html.PartialAsync("_SidebarPartial")
<style>
	.div-box {
		padding: 30px 0;
	}

	.img-block {
		display: block;
		margin: 0 auto;
		max-width: 70%;
	}
</style>
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		@if (Model.Any())
		{
			<section class="box article-list">
				<h2 class="icon fa-file-alt">
					@strTitle
				</h2>
				@foreach (EquipmentDTO entity in Model)
				{
					<article class="box excerpt">
						<a asp-area="" asp-controller="Equipments" asp-action="Show" asp-route-id="@entity.Id" class="image-left  image-service-list">
							<img src="~/img/@entity.PhotoFileName" alt="" />
						</a>
						<div>
							<header>
								<h3>
									<a asp-area="" asp-controller="Equipments" asp-action="Show" asp-route-id="@entity.Id">
										@entity.Description
									</a>
								</h3>
							</header>
						
								<div>
									Категория: <span class="text-bold">@entity.Model</span>
								</div>
							
							<p>
								@entity.Capabilities
							</p>
						</div>
					</article>
				}
			</section>
		}
	</div>
</div>